* {
    /* Bar measurement icons: https://github.com/and3rson/graph-bars-font */
    /* Icon set: https://fontawesome.com/v5.15/how-to-use/on-the-desktop/setup/getting-started */
    /* color: #f2e5bc; */
    color: #242424;
    /* font-family: 'Courier New', 'Bars', 'Font Awesome 5 Free'; */
    font-family: 'Sarasa Mono SC Nerd Font';
    font-size: 18px;
}

.bar {
    background: rgba(29, 32, 33, 0.3);
    border: 1px solid #504945;
    padding: 0 5px;
}

/* .container-right .widget {
    margin: 2px;
    border-radius: 5px;
}

.container-right .widget * {
    color: #242424;
} */

.komorebi-workspaces {
    margin-left: 0;
}

.ws-btn {
    background: rgba(60, 56, 54, 0.4);
    border: 1px solid rgba(168, 153, 132, 0.4);
    border-radius: 3px;
    margin: 2px 1px;
    padding: 0 5px;
}

.ws-btn:hover {
    color: #fbf1c7;
    font-weight: bold;
}

.ws-btn.populated {
    border-color: rgba(168, 153, 132, 1.0);
    color: #ebdbb2;
}

.ws-btn.active {
    background: rgba(251, 241, 199, 0.85);
    color: #121212;
}

.ws-btn.empty {
    color: #abb2bf;
}

.komorebi-active-layout .label {
    color: #fbf1c7;
    margin: 2px;
}

.komorebi-multi-window .window,
.komorebi-multi-window .window-focused {
    background: #83a598;
    border-radius: 8px;
    margin: 2px;
    padding: 2px 5px;
    text-align: left;
}

.komorebi-multi-window .window {
    background: #83a598;
}

.komorebi-multi-window .window-focused {
    background: #f1fa8c;
}

.custom-widget,
.network-widget .label,
.input-method-widget .label,
.cpu-widget .label,
.memory-widget .label,
.battery-widget .label,
.clock-widget .label {
    border-radius: 8px;
    margin: 2px;
    padding: 2px 5px;
}

.custom-widget {
    background: #bdae93;
}

.custom-widget .icon {
    font-size: 13px;
}

.custom-widget:hover {
    background: #fbf1c7;
}

.custom-widget .icon.icon-left {
    margin-right: 5px;
}

.custom-widget .icon.icon-right {
    margin-left: 5px;
}

.custom-widget.hostname-widget {
    background: #83a598;
}

.custom-widget.terminal-widget {
    font-size: 14px;
}

.network-widget .label {
    background: #7eca9c;
}

.input-method-widget .label {
    background: #ffb86c;
}

.cpu-widget .label {
    background: #d3869b;
}

.memory-widget .label.status-low {
    background: #689d6a;
}

.memory-widget .label.status-medium {
    background: #fe8019;
}

.memory-widget .label.status-high {
    background: #cc241d;
}

.battery-widget .label.status-critical {
    background: #fb4934;
}

.battery-widget .label.status-low {
    background: #fe8019;
}

.battery-widget .label.status-medium {
    background: #fabd2f;
}

.battery-widget .label.status-high {
    background: #b8bb26;
}

.battery-widget .label.status-full {
    background: #8ec07c;
}

.battery-widget .label.status-charging {
    background: #8ec07c;
}

.clock-widget .label {
    background: #d6acff;
}

.active-window-widget {
    margin-left: 5px;
}

.active-window-widget .label {
    background: #83a598;
    border-radius: 3px;
    margin: 2px;
    margin-bottom: -1px;
    padding: -5px 7px 0 7px;
}
